
<div id='form-container'>

</div>

<script>
var form = webix.ui({
	view:"form",
	width: 640,
	container:"form-container",
	rows:[
		{ margin:15, cols:[
			{ rows:[
				{ view:"uploader", name:"upfile", value:"Attach File", link:"mylist", upload:"/upload" },
				{ view:"list",  id:"mylist",  type:"uploader", autoheight:true, borderless:true }
			]}
		]},
		{ view:"button", value:"Save", click:function(){
			var data = this.getFormView().getValues();
			$$("result").setHTML("<pre>"+JSON.stringify(data,
		true, "\t")+"</pre>")
		}},
		{ view:"template", id:"result", height:200 }
	]	
});
</script>